
.jc{
  display: flex;justify-content: space-evenly;
}
.col-md-2 {
    padding: 5px; 
    width: 150px;
  }
.dropdown-menu{
  background-color:transparent; border: none;
}

.machineName{
    background-color: black;
    color:white;
    width:30px;
    border-radius:4px;
    text-align: center;
    margin-left: -4px;
    height: 25px;

  }
.machineData{
    font-size: smaller;
  }  

.bar {
  width: 100%;
  color: white;
  position: fixed;
  height: auto;
  top: 56px;
  box-shadow: 0px 1px 1px 0px  #888888;
  background-color: white;
  
}
.bar button{
  margin: 2px;
 font-size: 11px;
 border:none;
 border-radius: 5px;
 text-decoration: none;
 color: white;
}
.dropdown-btn{
  background-color: black; 
}
.dropdown-menu-list-btn {
  display: block;width: 90%;
  margin: 2px;
 background-color: #9276ff;
}
.bar-1{
  display: flex;
justify-content: left;
}
.bar-2{
  display: flex;
justify-content: center;
}
.bar-3{
  display: flex;
justify-content: right;
}

.btnDeactive{
  background-color: #ff3232;padding: 10px;
}
.BtnActive{
  background-color: #329932; padding: 10px;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}



