<app-dashboard></app-dashboard>
<div [ngClass]="{'expanded': isExpanded}"  class="function-list border mt-1 ">
  <button class="btn btn-warning btn-sm rounded m-1 s " (click)="toggleSize()">Display  :-</button>  
</div>

<div class="c mt-1 ">
    <div class="row">
      <div class="col-md-2" *ngFor="let MachineData of MachineDataArray" >
        <div class="p-2 border rounded" style="display: flex;   justify-content: space-between;">
          <div class="machineName"  >    
            <p class="">{{ MachineData.title }}</p>
          </div>
          <div class="machineData">
          {{ MachineData.Production }}<br>
          {{ MachineData.Production }}  

        </div>
        </div>
      </div>
    </div>
  </div>