
.col-md-2 {
    padding: 5px; 
  }
  .machineName{
    background-color: black;
    color:white;
    width:30px;
    border-radius:4px;
    text-align: center;
    margin-left: -4px;
    height: 25px;
    
  }
  .machineData{
    font-size: smaller;
  }  
  .removeMargin{
    margin-right: 10px; 
    margin-left: 10px;  
  }
  .function-list{
    height: 39px;
  }
  
.s{
 font-size: 11px; 
}
.hideStyle{
  display: none;
}
td{
  text-align: center;
}