
.row{
  --bs-gutter-x: 0rem;
}

.bar {
  width: 100%;
  color: black;
  position: fixed;
  height: auto;
  top: 56px;
  box-shadow: 0px 1px 1px 0px #888888;
  background-color: white;
}

.bar button {
  margin: 2px;
  font-size: 13px;
}

.bar-1 {
  display: flex;
  justify-content: left;
}

.bar-2 {
  display: flex;
  justify-content: center;
}

.bar-3 {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.activeCircle{
  background-color: green;
  height: 10px;
  width: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
}


.idealCircle{
  background-color: gray;
  height: 10px;width: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
}


.stoppageCircle{
  background-color: red;
  height: 10px;
  width: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
}
.count{
  background-color:white;
  border: none;
}

.reset{
  background-color: #ac646c;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 8px 7px 8px;
  border: none;
  border-radius: 5px;
  height: 37px;
  margin-top: 3px !important;
  }

.dropdown {
  position: relative;
  display: inline-block;
  margin: 3px;
  
}
.dropdown-button {
  background-color: #ffc107;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 8px 7px 8px;
  border: none;
  border-radius: 5px;
  margin-top: 3px !important;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}


.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}


.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
  padding: 4px 0px 4px 0px;
  box-shadow: 0px 3px 04px 1px #888888;
}

.row-margin{
  margin-top: 101px;
}

.machine-card{
  margin: 4px 5px 0px 5px;
  display:grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.machineName {
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
  width: fit-content !important;
  height: 27px;
  font-size: small;
}

.machineData {
  font-size: smaller;
}

.summary-col{
  width: 200px;
  background: #dee2e6;
  padding: 5px;
}

.summary-row{
  background-color: white;
  box-shadow: 2px 2px 5px 0px #888898;
  margin-top: 5px;
}
.summary-title{
  text-align: center;
  background-color: #8080809c;
  font-size: smaller;
}
.summary-data{
  font-size: smaller;
  padding: 0px 3px;
  display: flex;
}
